@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Product>
@if (User.IsInRole("admin")){

<h1>Manage Products</h1>

<div class="form-group">
  <a asp-controller="Products" asp-action="Create" class="btn btn-primary">
    Create new Product
  </a>
</div>

<div class="form-group">
  <form>
    <input type="text" name="category" placeholder="Search by Product" />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name Product</th>
      <th scope="col">Quantity Product</th>
      <th scope="col">Price Product</th>   
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model){
      <tr>
      <th scope="row">@item.Id</th>
      <td>@item.NameProduct</td>
      <td>@item.QuantityProduct</td>
      <td>@item.PriceProduct</td>

      <td>
        <a asp-controller="Products" asp-action="Edit" asp-route-id=@item.Id class="btn btn-info"> 
          Edit
        </a>
        <a asp-controller="Products" asp-action="Delete" asp-route-id=@item.Id class="btn btn-danger"> 
          Delete
        </a>
        <a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id class="btn btn-success"> 
          Details
        </a>
      </td>
    </tr>
  }
   
  </tbody>
</table>
}
else {
   <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
        @foreach (var item in Model){
      <div class="col-md-6 col-lg-3 mb-4 mb-md-0"  style=" margin-bottom: 10px !important">
        <div class="card" style= " border-radius: 10px !important ">
            <a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id >
                <div style=" height: 240px; align-content: center;display: grid;">
                    <img src="https://localhost:44338/images/@item.ImageProduct"
                    class="card-img-top"  style= " border-radius: 10px !important; display: block;  height: auto;" />
                </div>
            </a>
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id >
                <h5 class="mb-0">@item.NameProduct</h5>
              </a>
            </div>
            <div>
                <span src="" class="text-dark mb-0" >Price: @item.PriceProduct VND</span>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0" src="">Available:<span class="fw-bold">@item.QuantityProduct</span></p>
              <a src="" >Add To Cart</a>
            </div>
          </div>
        </div>
      </div>}
    </div>
  </div>
</section>
}