@using HoangLongStore.ViewModels
@model DetailOrderViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-controller="Orders" asp-action="Index">List Orders</a>
</p>


<table class="table" style="background-color: #f8f9fa; ">
    <thead>
        <tr>
            <th style= "display: none">
                Order
            </th>
            <th>
                Name Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetails) {
        <tr>
            <td  style= "display: none">
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.NameProduct)
            </td>
            <td>
                <input asp-for="@item.Quantity" style="width: 68px !important"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.ProductId">View Product</a>
                @if(item.Order.StatusOrder == HoangLongStore.Enums.OrderStatus.Unconfirmed){
                <a asp-controller="OrderDetails" asp-action="Delete" asp-route-id="@item.Id">| Delete</a>}
            </td>
        </tr>
}
    </tbody>
</table>


           <div class="col-md-5" style="float: right">

            <div class="rounded d-flex flex-column p-2" style="background-color: #f8f9fa; ">
              <div class="p-2 me-3">
                <h4>Order Recap</h4>
              </div>
              <div class="p-2 d-flex">
                <div class="col-8">Name: </div>
                <div class="ms-auto">@Model.FullName</div>
              </div>
              <div class="p-2 d-flex">
                <div class="col-8">Address: </div>
                <div class="ms-auto">@Model.Address</div>
              </div>
              <div class="p-2 d-flex">
                <div class="col-8">Number Phone</div>
                <div class="ms-auto">0912256419</div>
              </div>
            
              <div class="border-top px-2 mx-2"></div>
              <div class="p-2 d-flex pt-3">
                <div class="col-8"><b>Total Order</b></div>
                <div class="ms-auto"><b class="text-success">@Model.Order.PriceOrder VND</b></div>
              </div>
        @if (@Model.Order.StatusOrder == HoangLongStore.Enums.OrderStatus.Unconfirmed)
        {
            <a asp-controller="Orders" asp-action="Purchase" class="btn btn-info" > Purchase</a>
        }
    </div>
          </div>