@model IEnumerable<HoangLongStore.Models.Product>

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail Brand</h1>
<div>
    <p>
    <a asp-action="Index">Back To List Brand</a>
    </p>
    <p>
    <a asp-controller="Products" asp-action="Create" >Create product for brand:<td> @ViewBag.BrandName</td></a> 
    </p>
</div>
<table class="table">
    <thead>
    <tr>
      <th scope="col">Name Product</th>
      <th scope="col">Quantity Product</th>
      <th scope="col">Price Product</th>   
      <th scope="col">Brand Product</th>

    </tr>
  </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
        </tr>
}
    </tbody>
</table>
