    @model IEnumerable<HoangLongStore.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Date Order
            </th>
            <th>
                Total Price
            </th>
            <th>
                Status Order
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOrder)
            </td>
            <td>        
                @if (item.StatusOrder == HoangLongStore.Enums.OrderStatus.Unconfirmed) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a>
                    }
                    <a asp-controller="OrderDetails" asp-action="Index" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
